<header>
    <nav class="navbar fixed-top navbar-dark bg-col shadow">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../assets/new-logo.jpeg" class="navlogo">
                <span class="colortext">Knowledge </span><span class="plaintext">Setu</span>
            </a>
            <span class="navbar-text">
                <a class="nav-link about shadow" [routerLink]="['/blog']" target="_blank">
                    Free eBooks
                </a>
            </span>
        </div>
    </nav>
</header>