@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
/**********************header navbar css************************************/
.navbar{
    background-color: #FFFFFF;
}
.navbar-brand{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar-brand .colortext{
   margin-left: 8px; 
   color: #0795b5;
   font-size: 30px;
   font-family: 'Luckiest Guy', cursive;
}
.navbar-brand .plaintext{
    color: #000;
	font-size: 30px;
	font-family: 'Luckiest Guy', cursive;
}
.navlogo{
    height: 60px;
}
.about{
    background-color: #0795b5;
    border-radius: 5px;
	border: 1px solid #0795b5;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;  
}
/********media query**************/
@media screen and (max-width:768px){
    // .container{
    //     margin-left: 10px;
    //     margin-right: 10px;
    //     padding-left: 10px;
    //     padding-right: 10px;
    // }
    .navbar-brand .colortext{
        font-size: 28px;
     }
     .navbar-brand .plaintext{
         font-size: 28px;
     }
}
@media screen and (max-width:476px){
    .navbar-brand span{
        display: none;
    }
   
}
@media screen and (max-width:280px){
    .about{
        font-size: 12px;
        font-weight: bold;
        padding: 10px 25px;   
    }

}