<footer class="footer pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h1 class="mb-4 comtt text-warning">Knowledge Setu</h1>
                <p class="ptext">We are helping organizations and the companies in their start up and make their journey simple with no complexities, we are defined with the imaginary emerging technology transformation to unbound the new insights for them.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h2 class="text-uppercase mb-4 font-weight-bold text-warning">Links</h2>
                <p>
                    <img src="/assets/double_arrow-white-18dp.svg">
                    <a [routerLink]="['']" class="text-white" style="text-decoration: none;">Home</a>
                </p>
                <p>
                    <img src="/assets/double_arrow-white-18dp.svg">
                    <a href="http://krashitservices.com/aboutus.html" target="_blank" class="text-white" style="text-decoration: none;">AboutUS</a>
                </p>
                <p>
                    <img src="/assets/double_arrow-white-18dp.svg">
                    <a [routerLink]="['/termscondition']"  class="text-white" style="text-decoration: none;">Term&Condition</a>
                </p>
                <p>
                    <img src="/assets/double_arrow-white-18dp.svg">
                    <a [routerLink]="['/privacy']"   class="text-white" style="text-decoration: none;">Privacy policy</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h2 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h2>
                <p class="text-white">
                    <img src="/assets/fmd_good-white-18dp.svg"> Indrapuram, Ghaziabad
                </p>
                <p class="text-white"> 
                    <img src="/assets/mail-white-18dp.svg" > info@krashitservice.com
                </p>
                <p class="text-white">
                    <img src="/assets/call-white-18dp.svg"> +91 9324226748
                    
                </p>
                <p class="text-white">
                    <img src="/assets/call-white-18dp.svg">+91 9760967225
                </p>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="d-flex justify-content-center text-white">
                &copy; Copyright Krash IT Services.All Right Reserved
            </div>
        </div>
    </div>
  </footer>
  
