<!-- change password form section start-->
<section class="form-section">
    <div class="d-flex justify-content-center">
        <div class="col-6 col-auto mx-auto mt-5">
            <div class="d-flex justify-content-center mb-5">
                <h1 class="head-text">Change Password</h1>
            </div>
            <form class="bg-form" >
                <div class="mb-3">
                    <label for="oldpassword" class="form-label">Enter Your old Password</label>
                    <input type="password" class="form-control mb-5"  id="oldpassword" name="oldpassword" placeholder="Enter your old password" required/>
                </div> 
                <div class="mb-3">
                    <label for="Newpassword" class="form-label">Enter your new Passowd</label>
                    <input type="password" class="form-control mb-5"  id="Newpassword" name="Newpassword"  placeholder="Enter new Password" required/>
                </div>
                <div class="mb-3">
                    <label for="repassword" class="form-label">Retype New Passowd</label>
                    <input type="password" class="form-control mb-5"  id="repassword" name="repassword"  Placeholder="Retype your new Password" required/>
                </div>
                <!-- <span style="color: darkred;">{{alert}}</span>
                <span style="color: green;">{{message}}</span> -->
                <button type="submit" class="bton">Update</button>
            </form>
        </div>
    </div>
</section>
<!-- change password form section ends-->