<!--*******************************Teacher details**********************************-->
<section>
    <div class="container">
        <div class=" col-sm-12 col-md-12 col-xd-12 list-card">
            <div class="card shadow ">
                <div class="card-header">
                    <span style="text-align: right; font-weight: bold; font-size: 20px;">Teacher's List</span>
                </div>
                <div class="card-body">
                    <div class="table-responsive-xl scroll">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Sno</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">New Password</th>
                                    <th scope="col">Button</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let model of  selectlist; let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{model.city}}</td>
                                    <td>{{model.email}}</td>
                                    <td>{{model.fullName}}</td>
                                    <td>{{model.phoneNumber}}</td>
                                    <td>{{model.password}}</td>
                                    <td>
                                        <input type="text" class="form-control" name="fees" value={{model.password}}
                                            [(ngModel)]="selectedValue[i]">
                                        <h3 style="color: green;">{{this.message[i]}}</h3>
                                        <h3 style="color: red;">{{this.alert[i]}}</h3>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="UpdatePayment(model,i)">Update</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------------Student Details------------------------------------------------------->
<section>
    <div class="container">
        <div class=" col-sm-12 col-md-12 col-xd-12 list-card">
            <div class="card shadow ">
                <div class="card-header">
                    <span style="text-align: right; font-weight: bold; font-size: 20px;">Student's List</span>
                </div>
                <div class="card-body">
                    <div class="table-responsive-xl scroll">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Sno</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">New Password</th>
                                    <th scope="col">Button</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stds of  studselectlist; let j=index">
                                    <th scope="row">{{j+1}}</th>
                                    <td>{{stds.Class}}</td>
                                    <td>{{stds.city}}</td>
                                    <td>{{stds.email}}</td>
                                    <td>{{stds.fullName}}</td>
                                    <td>{{stds.phoneNumber}}</td>
                                    <td>{{stds.state}}</td>
                                    <td>{{stds.password}}</td>
                                    <td>
                                        <input type="text" class="form-control" name="fees" value={{stds.password}}
                                            [(ngModel)]="studentValue[j]">
                                        <h3 style="color: green;">{{this.message[j]}}</h3>
                                        <h3 style="color: red;">{{this.alert[j]}}</h3>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="StudentPayment(stds,j)">Update</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>