/*css*/
/**************************header css strt**********************************/
.bg-col1 {
  background-color: #0795b5;
}

.head-logout {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/***********************css for sidebar***********************************/
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.lefttoggle {
  border: 2px solid #0795b5;
  text-decoration: none;
  cursor: pointer;
}

.sidetoggle {
  border-radius: 50%;
  background-color: #0795b5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headtext {
  padding-top: 30px;
  color: #0795b5;
  font-weight: bolder;
  font-size: 30px;
}

.sn-social {
  text-align: center;
}

.sn-social.head {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.sidenav-link {
  padding: 10px 20px;
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
}

.sidenav-link:hover {
  color: #0795b5 !important;
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 148, 99, 0.1)), color-stop(50%, rgba(35, 148, 99, 0.0875)), to(transparent));
  background: linear-gradient(90deg, rgba(35, 148, 99, 0.1), rgba(35, 148, 99, 0.0875) 50%, transparent);
  border-left: 4px solid #0795b5;
}

.active {
  color: #0795b5 !important;
  background: -webkit-gradient(linear, left top, right top, from(rgba(35, 148, 99, 0.1)), color-stop(50%, rgba(35, 148, 99, 0.0875)), to(transparent));
  background: linear-gradient(90deg, rgba(35, 148, 99, 0.1), rgba(35, 148, 99, 0.0875) 50%, transparent);
  border-left: 4px solid #0795b5;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #FFC300;
  margin: 20px 10px 20px 10px;
}

.notify {
  background-color: red;
  border-radius: 50px;
  font-size: 10px;
  padding: 2px 5px;
  color: white;
  float: right;
}

.img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.mb-2 {
  margin: 15px 15px;
}

.flex1 {
  margin-right: 50px;
}

.bg-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

/**************************footer******************************/
footer.footer {
  padding: 1rem .875rem;
  direction: ltr;
  background: #fff;
}

/******************************media query*************************************/
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 550px) {
  .flex1 a {
    display: none;
  }
}
/*# sourceMappingURL=admin-dashboard.component.css.map */