<app-student-login></app-student-login>
<div class="container">
    <div class="modal fade seminor-login-modal" data-backdrop="static" id="sem-login">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width:430px;height: 458px;">

                <!-- Modal body -->
                <div class="modal-body seminor-login-modal-body">
                    <h2 class="modal-title text-left"><img src="../../assets/new-logo.jpeg" width="30" height="25">
                        <span
                            style="color: rgb(25, 128, 128);font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;">
                            KNOWLEDGE</span>
                        SETU

                        <button type="button" class="close" data-dismiss="modal"
                            style="color: rgb(25, 128, 128); margin-left: 135px; border-radius: 45px; border:none;background-color: white;">
                            <i class="rbbb40-1 fRCvfo re4bd0-1 jwGlki" size="24" color="rgb(25, 128, 128);" tabindex="0"
                                aria-label="close Modal"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="rgb(25, 128, 128);" width="24" height="24" viewBox="0 0 20 20"
                                    aria-labelledby="icon-svg-title- icon-svg-desc-" role="img" class="rbbb40-0 byLLrW">
                                    <title>Close</title>
                                    <path
                                        d="M11.42 10.42l3.54-3.54c0.38-0.4 0.38-1.040 0-1.42s-1.020-0.4-1.42 0l-3.54 3.54-3.54-3.54c-0.4-0.4-1.020-0.4-1.42 0s-0.38 1.020 0 1.42l3.54 3.54-3.54 3.54c-0.38 0.38-0.38 1.020 0 1.42 0.2 0.18 0.46 0.28 0.72 0.28s0.5-0.1 0.7-0.28l3.54-3.56 3.54 3.56c0.2 0.18 0.46 0.28 0.72 0.28s0.5-0.1 0.7-0.28c0.38-0.4 0.38-1.040 0-1.42l-3.54-3.54z">
                                    </path>
                                </svg></i>
                        </button>
                    </h2>
                    <form class="seminor-login-form" style="padding: 0 1em 0;">
                        <h2
                            style="color: rgb(25, 128, 128);font-family: 'Roboto', sans-serif;margin-left:3px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;">
                            Hi!</h2>
                        <p style="font-family: serif;margin-left:3px; font-size:17px">We've recieved a
                            request to reset
                            the password for the Knowledge Setu account . No changes
                            have been made to your account yet.
                            <br>
                            <br>
                            You can request to reset your password by clicking the Email link -
                            <a href="http://www.krashitservices.com/contactus.html">info@krashitservices.com</a>
                            <br>
                            <br>
                            If you did not request a new password, please let us know by replying to this email.
                            <br>
                            <br>
                            You can find answers to most questions and get in touch with us at. We're here to help you
                            at step along the way.
                            <br>
                            <br>
                            <span
                                style="color: rgb(25, 128, 128);font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;">----
                                Knowledge Setu Team</span>
                        </p>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <section class="form-section">
    <div class="d-flex justify-content-center">
        <div class="col-6 col-auto mx-auto mt-5">
            <form class="bg-form">
                <div class="mb-3">
                    <label for="email" class="form-label">Enter your Email address</label>
                    <input type="email" class="form-control mb-5" id="email" placeholder="E.g.name@webside.com"
                        required />
                </div>
                <div class="btn-group">
                    <button class="bton btn-back" [routerLink]="['/']">Back</button>
                    <button type="submit" class="bton btn-send">Send <i class="far fa-paper-plane"></i></button>
                </div>

            </form>
        </div>
    </div>
    
</section> -->
<!-------------------------------------------FORGOT PASSWORD PAGE--------------------------------------------->

<!-- <section class="form-section">
    <div class="d-flex justify-content-center">
        <div class="col-6 col-auto mx-auto mt-5">
            <form class="bg-form" #forgotpasswordForm="ngForm" (ngSubmit)=onSubmit()>

                <div class="mb-3">
                    <label for="email" class="form-label">What is your Email address?</label>
                    <input type="email" class="form-control mb-5" id="email" name="email"
                        placeholder="E.g.name@webside.com" [(ngModel)]="forgotpassword.email" #email="ngModel"
                        required />
                </div>
                <h3 style="color: red;">{{this.alert}}</h3>
                <h3 style="color: green;">{{this.message}}</h3>
                <button type="submit" class="bton">Send message</button>
            </form>
        </div>
    </div>
</section> -->

<!--------------------------------------END-------------------------------------------------------------------->