<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container">
        <a class="navbar-brand">
            <img src="../../assets/new-logo.jpeg" width="60" height="60">
            <span class="colortext">Knowledge </span><span>Setu</span>
        </a>
    
        <span class="navbar-text" style="list-style:none;">
            <li class="nav-item dropdown">
                <img _ngcontent-rva-c89="" src="../../assets/user.svg" width="20" height="20" class="img">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/twelfth']">Class - 12th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/eleventh']">Class - 11th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/tenth']">Class - 10th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/ninth']">Class - 9th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/eigth']">Class - 8th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/seventh']">Class - 7th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/sixth']">Class - 6th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/fifth']">Class - 5th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/fourth']">Class - 4th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/third']">Class - 3rd</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/second']">Class - 2nd</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/first']">Class - 1st</a>
                    </li>
                </ul>
            </li>
        </span>
    
    </div>
    </nav>
    
 