<section class="bg-margin">
    <div class="container">
        <div class=" d-flex  cordform justify-content-center">
            <div class="col-sm-12 col-xd-12 col-md-12">
                <div class="card shadow ">

                    <div class="card-body cord">
                        <form class="fom" #uploadvideo="ngForm">
                            <h1>Free Content Panel</h1>
                            <label class="label">Class</label>
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Select Class</mat-label>
                                <mat-select name="class" [(ngModel)]="model.class" #class='ngModel' required>
                                    <mat-option value="First">I</mat-option>
                                    <mat-option value="Second">II</mat-option>
                                    <mat-option value="Third">III</mat-option>
                                    <mat-option value="Fouth">IV</mat-option>
                                    <mat-option value="Fifth">V</mat-option>
                                    <mat-option value="Sixth">VI</mat-option>
                                    <mat-option value="Seventh">VII</mat-option>
                                    <mat-option value="Eighth">VIII</mat-option>
                                    <mat-option value="Ninth">IX</mat-option>
                                    <mat-option value="Tenth">X</mat-option>
                                    <mat-option value="Eleventh">XI</mat-option>
                                    <mat-option value="Twelfth">XII</mat-option>

                                </mat-select>
                            </mat-form-field>
                            <label for="Subjectname" class="label">Select Subject</label>
                            <input type="text" class="form-control" name="Subject" id="Subject" class="inp"
                                [(ngModel)]="model.Subjectname" required />
                            <!--This the document upload button section-->
                            <hr class="mb-4">
                            <div class="col">
                                <div class="col-sm-6 col-md-6 col-xd-6">
                                    <label for="vedio" class="label">Free Lectures Upload</label>
                                    <input type="file" id="vedio" name="vedio" accept=".mp4"
                                        (change)="handlevideofile($event)" />
                                    <div class="progress" *ngIf="uploadProgress | async as progress">
                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                            [ngStyle]="{ 'width': progress + '%' }"></div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-6 col-md-6 col-xd-6">
                                    <label for="Document" class="label">Free Chapters Upload</label>
                                    <input type="file" name="document" (change)="handledocumentfile($event)"
                                        id="Document" accept=".zip,.pdf" />
                                    <div class="progress" *ngIf="documentUploadProgress | async as docprogress">
                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                            [ngStyle]="{ 'width': docprogress + '%' }"></div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <h3 style="color: red;">{{this.alert}}</h3>
                            <h3 style="color: green;" *ngIf="videoNumber == 100 && docNumber== 100"><b>Uploaded
                                    Successfully</b></h3>
                            <hr class="mb-4">
                            <div class="bton-group">
                                <button class="btn bton bt-back"
                                    [routerLink]="['/admin/admin/admin-home']">Back</button>
                                &nbsp;&nbsp;
                                <button class="btn bton bt-save" (click)="onSubmit()">
                                    <img class="img-fluid" src="../../assets/publish-white-18dp.svg" width="20"
                                        height="20">Save
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
