<!--*************************header start****************************************-->
<app-header></app-header>
<!--*************************header end*******************************************-->
<!--*************************main section start ipad view*********************-->
<section class="bg-margin ipadshow">
    <img class="img-fluid" src="../../assets/homeipadshow.jpg" width="100%">
    <div class="card shadow ipadcard">
        <div class="card-body">
            <h1>Connect With Us</h1>
            <p class="livetext"><span></span></p>
            <p class="tetmain">Learn anytime, <span class="tt">anywhere</span></p>
            <div class="butons">
                <button type="button" class="btn shadow lern btn-lg" [routerLink]="['/Studentlogin']" >Learner
                    <img src="../../assets/arrow-right.svg" class="arrowbtn">
                </button>
                <button type="button" class="btn teachbut shadow btn-lg" [routerLink]="['/Teacherlogin']">Educator</button>
            </div>
        </div>
    </div>
</section>
<!--**************************main section start mobile view**********************-->
<section class="bg-margin mobileshow">
    <div class="container">
        <div class="row col-sm-12 col-md-12 col-xl-12">
            <div class="col-sm-6 col-md-6 col-xd-6 homeimg">
                <img class="img-fluid" src="../../assets/home-image.png">
            </div>
            <div class="col-sm-6 col-md-6 col-xd-6 hometext">
                <h1>Connect With Us</h1>
                <p class="livetext "><span></span></p>
                <p class="tetmain">Learn anytime, <span class="tt">anywhere</span></p>
                <div class="butons">
                    <button type="button" class="btn shadow lern btn-lg" [routerLink]="['/Studentlogin']" >Learner
                        <img src="../../assets/arrow-right.svg" class="arrowbtn" width="20" height="20">
                    </button>
                    <button type="button" class="btn teachbut shadow btn-lg" [routerLink]="['/Teacherlogin']">Educator</button>
                </div>
            </div>
        </div>   
    </div>
</section>
<!--*****************************main section start full screen view*******************************-->
<section class="bg-margin fullscreenshow">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-6 hometext">
            <h1>Connect With Us</h1>
            <p class="livetext"><span></span></p>
            <p class="tetmain">Learn anytime, <span class="tt">anywhere</span></p>
            <div class="butons">
                <button type="button" class="btn shadow lern btn-lg" [routerLink]="['/Studentlogin']" >Learner
                    <img src="../../assets/arrow-right.svg" class="arrowbtn">
                </button>
                <button type="button" class="btn teachbut shadow btn-lg" [routerLink]="['/Teacherlogin']">Educator</button>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6 homeimg">
            <img class="img-fluid hideimg" src="../../assets/home-image.png">
        </div>
    </div>   
</div>
</section>`
<!--****************************************main section end*********************************************-->
<!--****************************************Secondary section start**************************************-->
<section class="bg-margin-section">
    <div class="container">
        <div class="row  bg-margin">
            <div class="col-sm-4 col-md-4 col-xl-4">
                <div class="card shadow cord">
                    <div class="card-body">
                        <div class="sidecardimg">
                            <div class="image shadow">
                                <img src="../../assets/live.png" class="img-fluid" width="30" height="30">
                            </div> 
                            <h1 class="livetext1">Live Classes</h1>
                        </div>
                        <hr class="mb-2">
                        <p class="card-text" >Live Connection with educators, Chat with educators, ask questions, answers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4">
                <div class="card shadow cord">
                    <div class="card-body">
                        <div class="sidecardimg">
                            <div class="image shadow">
                                <img src="../../assets/home-icon-record.png" class="img-fluid" width="30" height="30">
                            </div>
                            <h1 class="livetext1">Recorded Lecture</h1> 
                        </div>
                        <hr class="mb-2">
                        <p class="card-text">
                            Student can learn anytime by Recorded Lecture, and also written content available 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4">
                <div class="card shadow cord">
                    <div class="card-body">
                        <div class="sidecardimg">
                            <div class="image shadow">
                                <img src="../../assets/hom-quali-teacher.png" class="img-fluid" width="30" height="30">
                            </div>
                            <h1 class="livetext1">Qualified Teacher</h1>
                        </div>
                        <hr class="mb-2">
                        <p class="card-text">
                            Only certified teachers can teach, so that student gets better knowledge and grow better
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--**************************secondary section end********************-->
<!--**************************third section start**********************-->
<section class="bg-margin-section1 thirdmobileshow">
    <div class="container">
        <div class="d-flex justify-content-center bg-margin ">
            <div class="card cardsection shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xl-6">
                            <div class="cardimg">
                                <img class="img-fluid " src="../../assets/undraw_Online_learning_re_qw08.svg" width="400" height="400">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-6">
                            <div class="textcard">
                                <div class="cardtext1"></div>
                                <h1 class="cardtext">Learn,&<span class="tt">Grow</span></h1>
                                <p class="cardpara">Register the course and Learn anytime,anywhere with your favorite Tearcher's</p>
                                <button type="button" class="btn shadow lern btn-lg" [routerLink]="['/Studentlogin']" >Learner
                                    <img src="../../assets/arrow-right.svg" width="20" height="20">
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
<section class="bg-margin-section1 thirdfullscreenshow">
    <div class="container">
        <div class="d-flex justify-content-center bg-margin">
            <div class="card cardsection shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xl-6">
                            <div class="textcard">
                                <h1 class="cardtext">Learn,&<span class="tt">Grow</span></h1>
                                <p class="cardpara">Register the course and Learn anytime,anywhere with your favorite Tearcher's</p>
                                <button type="button" class="btn shadow lern btn-lg" [routerLink]="['/Studentlogin']" >Learner
                                    <img src="../../assets/arrow-right.svg" width="20" height="20">
                                </button>
                            </div>  
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-6">
                            <div class="cardimg">
                                <img class="img-fluid " src="../../assets/undraw_Online_learning_re_qw08.svg" width="400" height="400">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
<!--**************************third section end**********************-->
<!-- lets connect section-->
<section class="bg-margin-section1">
    <div class="contain">
        <div class="row">
            <div class="col-xl-6 col-sm-6 col-md-6 text-sec">
                <h1 class="lt-text">Let's Connect</h1>
                <h1 class="lt-text lt-color">digitally</h1>
            </div>
            <div class="col-xl-6 col-sm-6 col-md-6">
                <img src="../../assets/mainpage.gif" class="img-fluid gif">
            </div>
        </div>
    </div>
</section>
<!--**************************footer start***************************-->
<app-teacher-footer></app-teacher-footer>