<header>
    <nav class="navbar navbar-light shadow">
        <div class="container">
            <a [routerLink]="['/teacher/teacherDashboard']" class="navbar-brand">
                <img src="../../assets/new-logo.jpeg" width="60" height="60">
                <span class="colortext">Knowledge </span><span>Setu</span>
            </a>
            <span class="navbar-text">
                <button class="btn active shadow" (click)="logout()">
                    <img src="../../assets/exit.svg" width="20px" height="20px">
                    LogOut
                </button>
            </span>
        </div>
    </nav>
  </header>